{% extends 'index.j2' %}

{% block maincontent %}
    {% for label, values in context.items() %}
                <h2>{{ label }}</h2>
                    <ul>
        {% for value in values %}
                        <li>{{ value }}</li>
        {% endfor %}
                    </ul>
    {% endfor %}
{% endblock maincontent %}
