{% extends 'index.j2' %}

{% block maincontent %}
                    <ul>
    {% for item in context %}
                        <li>{{ item }}</li>
    {% endfor %}
                    </ul>
{% endblock maincontent %}
