{% extends 'index.j2' %}

{% block maincontent %}
                    <dl>
    {% for label, value in context._attrs.items() %}
                        <dt><strong>{{ label }}</strong></dt><dd>{{ value }}</dd>
    {% endfor %}
                    </dl>
{% endblock maincontent %}
