<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TaskLab</title>
    </head>

    <body>
        <header><h1><code>TaskLab</code></h1></header>

        <nav>
            <ul>
                <li><a href='/'>Home</a></li>
                <li><a href='/my/'>My account</a></li>
                <li><a href='/my/projects'>My projects</a></li>
                <li><a href='/my/todos'>My ToDos</a></li>
                <li><a href='/my/projects'>My projects</a></li>
                <li><a href='/my/projects/17/'>Project #17</a></li>
                <li><a href='/my/projects/17/issues'>Project #17 issues</a></li>
                <li><a href='/my/projects/17/board'>Project #17 issue board</a></li>
                <li><a href='/pendings'>Pendings</a></li>
            </ul>
        </nav>

        <main>
{% block maincontent %}<p>Hello <em>{{ context }}</em>.</p>{% endblock maincontent %}
            <hr/>
            <pre>{{ context }}</pre>
        </main>
    </body>
</html>
